@media only screen and (max-width:900px){
    html{
        font-size: 12px;
    }
    .navigation ul{
        width: 70%
    }
    .discount-box h1 , .promo-box h1  {
        margin-top: 25%;
    }

}
@media only screen and (max-width:770px){
    .text-heading{
       position: absolute;
       bottom: 30%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
    .more-btn {
    
        margin-left: 0px;
    }
    .last-text-top-part {
        padding-top: 30px;
        width: 80%;
        margin: 0 auto;
       
        font-family: cursive;
        color: #a7a19c;
    
    }
    .icons{
        margin-top: 80px;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }
    .box-foot{
        width: 30%;
    }
    .discount-box h1 {
      
        font-size: 2rem;
        
    }
    .promo-box h1 {
       
        font-size: 2rem;
     
    }
    .wrapper-6 section .part h1{
        font-size: 2rem;
    }

}

@media only screen and (max-width:670px){
  


    .image-gallery {
        justify-content: space-around;
    }
    
    .wrapper-6 section .part{
        width: 95%;
        margin: 0 auto;
    }
  
    .wrapper-6 section .part p{
        font-size: 1.1rem;
    }
    .qoute{
        width: 95%;
    }
}
@media only screen and (max-width:590px){
    .heading-2 {
        width: 100%;
    }
   
    .discount-box h1 , .promo-box h1  {
        margin-top: 25px;
        font-size: 1.8rem;
    }
    .promo-box p ,   .discount-box p{
        
        font-size: 1.1rem;
    }
    .display-till-590{
        display: none;
    }
    .wrapper-7{
        min-height: 500px;
    }
    footer{
        padding-top: 0;
    }
    .icons{
        margin-top: 10px;
    }
    .size50{
        border: 12px #ddc6b0 solid;
        border-radius: 25px;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .wrapper-3 {
        padding-top: 50px;
    }
    .discount-box , .promo-box , .dis-image {
        padding-bottom: 25px;
        box-shadow: 0 0 10px #777777;

    }
    .wrapper-top nav .nav-menu{
        display: none;
    }
    .sidebar{
        display: block;

    }
    .menu-icon{
        display: block;
    }
}